[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "==0.29.28"
d4rl = "*"
jupyter = "*"
tensorboard = "*"
pandas = "*"
matplotlib = "*"
torch = ">=2.0.0, !=2.0.1, !=2.1.0"
gymnasium = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
