# torch==1.6.0
torch==2.2.0
scikit-learn==1.3.2
# scikit-learn==0.23.1
# tensorboardX==2.0
tensorboardX==2.6.2.2
# tqdm==4.47.0
tqdm==4.66.1
# h5py==2.10.0
h5py==3.10.0
# gym==0.17.2
gym==0.23.1
# Cython==0.29.21
Cython==0.29.28
stable-baselines3>=0.10.0
# click==8.0.1
click==8.1.3
# typing-extensions==3.7.4.3
typing-extensions==4.9.0
# scipy==1.5.4
scipy==1.8.1
# structlog==20.2.0
structlog==24.1.0
# colorama==0.4.4
colorama==0.4.6
